In [111]:
import sqlite3
database_name = 'xrp_project.db'

In [112]:
con = sqlite3.connect(database_name)

In [113]:
command = 'select * from transactions'
cur = con.execute(command)
cur.fetchall()

[('2DE008B7D9F45652CDD8F0C5DAC7D71F6587962DE5CF8351C7EC94AA6FDB5530',
  'tesSUCCESS',
  295.51875,
  'rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh',
  103544552,
  'rPvKH3CoiKnne5wAYphhsWgqAEMf1tRAE7'),
 ('105515D9E9413606A76226820DBCB836509B7C03A41BF61A0407C0D3D443660E',
  'tesSUCCESS',
  101.97618,
  'rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh',
  422772526,
  'rGyxRBFKXQpDjDHWBG7CRN4tU7Ks6eUjj2'),
 ('686993FDC0B27FEF009B3B78DE5CADD076AF8FF529539292B59FFBFF16AF687D',
  'tesSUCCESS',
  4293.926511,
  'rEb8TK3gBgk5auZkwc6sHnwrGVJH8DuaLh',
  108723045,
  'rrsSUzrT2mYAMiL46pm7cwn6MmMmxVkEWM')]

In [106]:
command = 'select count(*) from transactions'
cur = con.execute(command)
cur.fetchall()

[(3,)]

In [109]:
# delete all rows from table
command = 'delete from transactions where True'
con.execute(command)

OperationalError: unable to open database file

In [110]:
# drop table
command = 'drop table transactions'
con.execute(command)

OperationalError: unable to open database file

In [86]:
table_name = 'transactions'
command = f'select count(*) from {table_name}'
cur = con.execute(command)

In [87]:
result, = cur.fetchone()

In [88]:
result

2